<% if @meeting.voted == true %>
  <%= render "shared/waiting_after_vote", event: @event %>
<% else %>

  <div class="container-wm">
  <div id="map" style="width: 100%; height: 50vh;" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" data-markers="<%= @markers.to_json %>"></div>
  <%= form_tag event_meeting_path(@event, @meeting), method: :patch do %>
    <div class="horizontal-flexbox-cards">
      <% @bars.each do |bar| %>
        <%= text_field_tag bar.id,nil ,hidden: true%>
        <div class="card-bar">
          <div class="transparent-target" data-barid="<%= bar.id %>">
            <% if bar.photo.attached? %>
            <div class="card-img-name"><%= cl_image_tag bar.photo.key, alt: "alttext"%></div>
            <% else %>
            <div class="card-img-name"><%= image_tag "no-photo.png", alt: "alttext"%></div>
            <% end %>
            <div class="bar-ratings">
              <div class="bottom-like" id="div<%= bar.id %>"><i class="fa fa-heart card-bar-heart"></i></div>
              <div class="card-bar-ratings-price">
                <div>
                  <% bar.rating.times do %>
                    <i class="fa fa-star"></i>
                  <% end %>
                  <% (5 - bar.rating).times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                </div>
                <div>
                  <% 3.times do %>
                    <i class="fas fa-euro-sign"></i>
                  <% end %>
                  <% 2.times do %>
                    <i class="fas fa-euro-sign cheap"></i>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="card-bar-infos">
              <h2><%= bar.name %><h2>
              <h3><%= bar.address %></h3>
            </div>
          </div>
        </div>
      <% end %>

    </div>
</div>
  <div class="confirm-choice">
    <%= submit_tag "Vote", class: "btn-blue-wm no-border" %>
  </div>
<% end %>

<% end %>



