<div class="container-wm relative">
  <div class="header">
    <%= image_tag "WeMeet-black.png", class: "logo-black" %>
  </div>
  <div class="onglet-form">
    <h3 class="onglet step-1 active">Identité</h3>
    <h3 class="onglet step-2">Ce soir</h3>
  </div>
  <%= form_tag(event_meeting_path(@event, @meeting), method: :patch) do %>
    <div class="form-step1">
      <div class="form-container">
        <div id="form-user">
          <%= label_tag 'NOM' %>
          <%= text_area_tag :name, "", class: 'form-control form-input', placeholder: "Marie", required: true%>
          <br>
          <%= label_tag 'Téléphone' %>
          <%= text_area_tag :phone_number, "", class: 'form-control form-input', placeholder: "0660832635", required: true %>
        </div>
      </div>
      <div class="btn-bottom">
        <div class="next-btn">
          <span class="next btn-red-wm">Suivant</span>
        </div>
      </div>
    </div>
    <div class="form-step2 d-none">
      <div id="form-availability">
        <div class="form-container">
          <div>
            <%= label_tag "Adresse" %>
            <%= text_field_tag "meeting[address]", "", class: 'form-control form-input', placeholder: "16 villa Gaudelet, 75011", required: true %>
          </div>
          <br>
          <div class="dispo-question">
            <p><%= @event.users.first.name %> est disponible à <%= @event.start_time.strftime("%Hh%M") %>. Et toi ?</p>
          </div>
          <div class="buttons-toggle">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary form-check-label">
              <input class="form-check-input" type="radio" name="meeting[available_time]" id="option1" autocomplete="off" value="plus tôt">
                Plus tôt
              </label>
              <label class="btn btn-primary form-check-label active">
                <input class="form-check-input" type="radio" name="meeting[available_time]" id="option2" autocomplete="off" value="à la même heure" checked>
                Pareil
              </label>
              <label class="btn btn-primary form-check-label">
                <input class="form-check-input" type="radio" name="meeting[available_time]" id="option3" autocomplete="off" value="plus tard">
                Plus tard
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-bottom">
        <div class="next-btn">
          <%= submit_tag "Je confirme", class: "btn-red-wm no-border", id: "new-attending" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
