<div class="container">
<h2>Dispo</h2>
    <div class="card">
      <% @meetings_attending.where(attending: true, organizer: true).each do |meeting| %>
      <div class="card-participant">
        <% link = "avatars/avatar-0#{meeting.user.photo_number}.png" %>
        <%= image_tag link, class: "avatar-large dispo", alt: "avatar-large" %>
       <div class="card-participant-infos">
        <h2><%= meeting.user.name %></h2>
        <p>Dispo à <strong><%= @event.start_time.strftime("%Hh%M") %></strong></p>
        </div>
      </div>
      <% end %>
    </div>

<!-- <div class="spinner-border text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div> -->

    <div class="card">
      <% @meetings_attending.where(attending: true, organizer: false).each do |meeting| %>
      <div class="card-participant">
        <% link = "avatars/avatar-0#{meeting.user.photo_number}.png" %>
        <%= image_tag link, class: "avatar-large dispo", alt: "avatar-large" %>
       <div class="card-participant-infos">
        <h2><%= meeting.user.name %></h2>
        <p>Dispo <strong><%= meeting.available_time %></strong></p>
        </div>
      </div>
      <% end %>
    </div>


  <hr>
  <h2>Ceux qui ont piscine</h2>
    <div class="card">
      <% @meetings_declined.where(attending: false).each do |meeting| %>
      <div class="card-participant">
        <% link_non = "avatars/avatar-0#{rand(1..19)}.png" %>
        <%= image_tag link_non, class: "avatar-large nondispo", alt: "avatar-large" %>
       <div class="card-participant-infos">
        <h2><%= meeting.name %></h2>
        <p>Pas dispo</p>
       </div>
      </div>
      <% end %>
    </div>
</div>

<% if current_user == @meetings_attending.where(attending: true, organizer: true)[0].user %>
  <% if @meetings_attending.where(attending: true, organizer: false).length == 0 %>
    <div class="btn-bottom">
      <div class="container-link link-to-share d-none">
        <% link = "/events/" + @event.id.to_s + "/meetings/new" %>
        <%= link %>
      </div>
      <%= link_to "Partage ton événement de nouveau", event_share_again_path(@event), class: "btn-red-wm share", data: { event: params[:event_id] } %>
    </div>
  <% else %>
    <div class="btn-bottom">
      <%= link_to "Passe aux votes pour les bars",  event_suggested_bars_path(@event), class: "btn-red-wm", data: { event: params[:event_id] } %>
    </div>
  <% end %>
<% end %>

