<div class="container">
<br>
<br>
<div class="index-top">
<h2>La soirée s'organise</h2>

<%= image_tag "avatars/Spinner-1s-200px.gif", class: "spinner" %>
<p>Vote pour le bar à <%= @event.deadline.strftime("%Hh%M") %></p>
</div>
<hr>
<h3 id="nb-dispo">Dispo - <%= @meetings_attending.where(attending: true).count %>
<%= @meetings_attending.where(attending: true).count > 1 ? "personnes" : "personne" %>
</h3>
    <div class="card">
      <% @meetings_attending.where(attending: true, organizer: true).each do |meeting| %>
      <div class="card-participant">
        <% link = "avatars/avatar-0#{meeting.user.photo_number}.png" %>
        <%= image_tag link, class: "avatar-large dispo", alt: "avatar-large" %>
       <div class="card-participant-infos">
        <h2><%= meeting.user.name %></h2>
        <p>Dispo à <strong><%= @event.start_time.strftime("%Hh%M") %></strong></p>
        </div>
      </div>
      <% end %>
    </div>


    <div class="card" id="attending-participants" data-event=<%= @event.id %>>
      <% @meetings_attending.where(attending: true, organizer: false).each do |meeting| %>
      <div class="card-participant">
        <% link = "avatars/avatar-0#{meeting.user.photo_number}.png" %>
        <%= image_tag link, class: "avatar-large dispo", alt: "avatar-large" %>
       <div class="card-participant-infos">
        <h2><%= meeting.user.name %></h2>
        <p>Dispo <strong><%= meeting.available_time %></strong></p>
        </div>
      </div>
      <% end %>
    </div>


  <hr>

  <h3>Ceux qui ont piscine</h3>

    <div class="card" id="declined-participants" data-event=<%= @event.id %>>

      <% @meetings_declined.where(attending: false).each do |meeting| %>
      <div class="card-participant">
        <% link_non = "avatars/piscine.jpg" %>
        <%= image_tag link_non, class: "avatar-large nondispo", alt: "avatar-large" %>
       <div class="card-participant-infos">
        <h2><%= meeting.name %></h2>
        <p>Pas dispo</p>
       </div>
      </div>
      <% end %>
    </div>
</div>

<% if current_user == @meetings_attending.where(attending: true, organizer: true)[0].user %>
  <div id="share-or-vote">
    <% if @meetings_attending.where(attending: true, organizer: false).length == 0 %>
      <div class="bouton-bas">
        <div class="container-link link-to-share d-none" data-message="On sort ce soir ? Pour l'organisation, c'est We Meet">
          <% link = "/events/" + @event.id.to_s + "/meetings/new" %>
          <%= link %>
        </div>
      </div>
        <%= link_to "Repartage ton événement", event_share_again_path(@event), class: "btn-red-wm share", data: { event: params[:event_id] } %>
    <% else %>
      <div class="bouton-bas">
        <%= link_to "Passe aux votes pour les bars",  event_suggested_bars_path(@event), class: "btn-red-wm", data: { event: params[:event_id] } %>
      </div>
    <% end %>
  </div>
<% end %>

