<div class="container-wm">
  <div class="d-flex align-items-start pt-3 pb-3">
    <%= image_tag "WeMeet-black.png", class: "logo-black"  %>
  </div>

    <div class="card">
      <% @event.meetings.where(attending: true).each do |meeting| %>
      <div class="card-participant">
        <% link = "avatars/avatar-0#{meeting.user.photo_number}.png" %>
        <%= image_tag link, class: "avatar-large dispo", alt: "avatar-large" %>
        <i class="fas fa-check-circle"></i>
       <div class="card-participant-infos">
        <h2><%= meeting.user.name %></h2>
        <p>Dispo à l'heure</p><i class="fas fa-stopwatch"></i>
       </div>
      </div>
      <% end %>
    </div>

<hr>

    <div class="card">
      <% @event.meetings.where(attending: false).each do |meeting| %>
      <div class="card-participant">
        <% link_non = "avatars/avatar-0#{rand(1..8)}.png" %>
        <%= image_tag link_non, class: "avatar-large nondispo", alt: "avatar-large" %>
        <i class="fas fa-times-circle"></i>
       <div class="card-participant-infos">
        <h2><%= meeting.name %></h2>
        <p>Pas dispo</p><i class="fa"></i>
       </div>
      </div>
      <% end %>
    </div>
</div>

