<div class="container">
  <div class="d-flex align-items-start pt-3 pb-3">
    <%= image_tag "WeMeet-black.png", class: "logo-black"  %>
  </div>


    <div class="card">
      <% @event.meetings.where(attending: true).each do |meeting| %>
    <div class="card-participant">
      <%= image_tag "avatars/avatar-0#{meeting.user.photo_number}.png", class: "avatar-large", alt: "avatar-large" %>
       <div class="card-participant-infos">
        <h2><%= meeting.user.name %></h2>
        <p>Dispo à l'heure</p>
        </div>
      </div>
        <% end %>
    </div>

<hr>

    <div class="card">
      <% @event.meetings.where(attending: false).each do |meeting| %>
    <div class="card-participant">
      <% [avatars = rand(1..8)] %>
      <%= image_tag "avatars/avatar-0#{avatars}.png", class: "avatar-large", alt: "avatar-large" %>
       <div class="card-participant-infos">
        <h2><%= meeting.name %></h2>
        <p>Pas dispo</p>
        </div>
      </div>
        <% end %>
    </div>

</div>

