<div class="container-wm">
    <div class="center-top">
      <%= image_tag "avatars/cheers.gif"%>
      <h1>Votes bien enregistrés</h1>
      <div class="eventok">
      <p>Tu recevras le récap' de l'événement à <strong><%= (event.deadline + 1800).strftime("%Hh%M") %></strong></p>
      <p><span id="votes" data-event="<%= @event.id %>"><%= @event.meetings.where(attending: true, voted: true).count %> <%= @event.meetings.where(attending: true, voted: true).count > 1 ? "personnes ont voté" : "personne a voté"%></span> sur <%= @event.meetings.where(attending: true).count %> <%= @event.meetings.where(attending: true).count > 1 ? "participants" : "participant" %></p>
       </div>

        <div class="card" id="voting-participants" data-event=<%= @event.id %>>
    <% @event.meetings.where(attending: true, voted: true).each do |meeting| %>
      <div class="card-participant card-votes">
        <% link = "avatars/avatar-0#{meeting.user.photo_number}.png" %>
        <%= image_tag link, class: "avatar-large dispo", alt: "avatar-large" %>
        <div class="card-participant-infos card-infos-votes">
          <h2><%= meeting.user.name %></h2>
        </div>
      </div>
    <% end %>
  </div>
    </div>

    <div class="container-link link-to-share d-none" data-message="On sort ce soir ? Pour l'organisation, c'est We Meet">
      <% link = "/events/" + @event.id.to_s + "/suggested_bars" %>
      <%= link %>
    </div>

  </div>

<% if current_user == @event.meetings.where(attending: true, organizer: true)[0].user %>
  <div id="recap-or-vote" data-event="<%= @event.id %>">
    <div id="btn-recap-or-vote" class="btn-blue-wm share no-border bouton-bas" data-event=<%= params[:event_id] %> > Fais voter tes amis </div>
  </div>
<% end %>



