  <div class="container-wm">
    <div class="center-top">
      <%= image_tag "avatars/cheers.gif"%>
      <h1>Votes bien enregistrés</h1>
      <div class="eventok">
      <p>Tu recevras le récap' de l'événement à <%= (event.deadline + 1800).strftime("%Hh%M") %></p>
      <p><span id="votes" data-event="<%= @event.id %>"><%= @event.meetings.where(attending: true, voted: true).count %> <%= @event.meetings.where(attending: true, voted: true).count > 1 ? "personnes ont voté" : "personne a voté"%></span> sur <%= @event.meetings.where(attending: true).count %> <%= @event.meetings.where(attending: true).count > 1 ? "participants" : "participant" %></p>
       </div>
    </div>

    <div class="container-link link-to-share d-none" data-message="On sort ce soir ? Pour l'organisation, c'est We Meet">
      <% link = "/events/" + @event.id.to_s + "/meetings/new" %>
      <%= link %>
    </div>

  </div>

<% if current_user == @event.meetings.where(attending: true, organizer: true)[0].user %>
  <div id="recap-or-vote">
      <%if event.meetings.where(attending: true, voted: true).count == @event.meetings.where(attending: true).count %>
        <%= link_to "Le récap", event_path(@event), class: "btn-blue-wm share bouton-bas", data: { event: params[:event_id] } %>
      <% else %>
        <%= link_to "Fais voter tes amis", event_suggested_bars_path(@event), class: "btn-blue-wm share no-border bouton-bas", data: { event: params[:event_id] } %>
      <% end %>
    </div>
<% end %>



