<div class="container">
  <h1>Events#new</h1>

  <%= simple_form_for(@event) do |f| %>
    <%= f.input :name, input_html: {value: "",class: "form-input"}, placeholder: "Marie", label: "Nom"%>
    <%= f.input :phone_number, input_html: {value: "", class: "form-input"}, placeholder: "0683193546", label: "Téléphone" %>
    <%= f.input :address, input_html: {value: "", class: "form-input"}, placeholder: "16 Villa Gaudelet", label: "Adresse" %>
    <%= f.submit "Suivant", class: "btn-red-wm"%>
    <%= f.input :start_time, input_html: {value: "", class: "form-input"}, placeholder: "20h", label: "A partir de"%>
    <%= f.input :deadline, input_html: {value: "", class: "form-input"}, placeholder:"", label: "Pas de réponse après" %>
    <%= f.submit "Crée ton événement", class: "btn-red-wm" %>
  <% end %>
</div>
