<div class="container-wm relative">
  <div class="header">
    <%= image_tag "WeMeet-black.png", class: "logo-black" %>
  </div>
  <div class="onglet-form">
    <h3 class="onglet step-1 active">Identité</h3>
    <h3 class="onglet step-2">Événement</h3>
  </div>
  <%= form_tag(events_path, method: "post") do %>
    <div class="form-step1">
      <div class="form-container">
        <div id="form-user">
          <%= label_tag 'NOM' %>
          <%= text_area_tag :name, "", class: 'form-control form-input', placeholder: "Marie", required: true%>
          <br>
          <%= label_tag 'Téléphone' %>
          <%= text_area_tag :phone_number, "", class: 'form-control form-input', placeholder: "0660832635", required: true %>
        </div>

      </div>
      <div class="btn-bottom">
        <div class="next-btn">
          <span class="next btn-red-wm">Suivant</span>
        </div>
      </div>
    </div>

    <div class="form-step2 d-none">

      <div id="form-availability">
        <div class="form-container">
          <div class="times">
            <%= label_tag do %>
            À quelle heure ?
            <br>
            <span>(Tu es disponible à partir de quelle heure ?)</span>
            <% end %>
            <div class="center-time">
              <%= time_field_tag "event[start_time]", input_html: {value: "", class: "form-input"} %>
            </div>
            <%= label_tag do %>
            Pas de réponse après
            <br>
            <span>(Le choix du bar se fera à ce moment-là)</span>
            <% end %>
            <div class="center-time">
              <%= time_field_tag "event[deadline]", input_html: {value: "", class: "form-input"} %>
            </div>
            <%= label_tag "Adresse" %>
            <%= text_field_tag :address, "", class: 'form-control form-input', placeholder: "16 villa Gaudelet, 75011", required: true %>
          </div>
        </div>
      </div>
      <div class="btn-bottom">
        <div class="next-btn">
          <%= submit_tag "Crée ton événement", class: "btn-red-wm no-border", id: "new-event" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
