  <div class="container-wm">
    <div class="center-top">
      <%= image_tag "avatars/cheers.gif", class: "cheers"%>
      <h1>Événement créé</h1>
      <div class="eventok">
      <p>Ce soir, à <strong><%= @event.start_time.strftime("%Hh%M") %></strong></p>
      <br>
      <p>Tu pars de :</p>
        <p><%= @meetings.first.address.split(' ')[0...-3].join(' ') %></p>
      </div>
    </div>

    <div class="container-link link-to-share d-none" data-message="On sort ce soir ? Pour l'organisation, c'est We Meet">
      <% link = "/events/" + @event.id.to_s + "/meetings/new" %>
      <%= link %>
    </div>

  </div>
<%= link_to "Partage ton événement", event_meetings_path(@event), class: "btn-red-wm share btn-sticky", data: { event: params[:event_id] } %>
