  <div class="container-wm">
    <div class="center-top">
      <%= image_tag "avatars/cheers.gif"%>
      <h1>Événement créé</h1>
      <h2>Ce soir, à <%= @event.start_time.strftime("%Hh%M") %></h2>
      <br>
      <h2>Tu pars de : <%= @meetings.first.address %></h2>
    </div>

    <div class="container-link link-to-share d-none" data-message="On sort ce soir ? Pour l'organisation, c'est We Meet">
      <% link = "/events/" + @event.id.to_s + "/meetings/new" %>
      <%= link %>
    </div>

  </div>
<%= link_to "Partage ton événement", event_meetings_path(@event), class: "btn-blue-wm share bouton-bas", data: { event: params[:event_id] } %>
