  <div class="container event-show">
    <div class="last-secondary-actions">
      <%= link_to root_path do %>
        <%= image_tag "WM-orange.png", alt: "alttext", class: "home" %>
      <% end %>
      <%= link_to event_path(@event), class: "share", data: { event: params[:event_id] } do %>
        <div><i class="fas fa-share-alt-square"></i></div>
      <% end %>
    </div>

    <div class="center-top show">
      <%= image_tag "avatars/cheers.gif"%>
      <h1>C'est dans la boîte !</h1>
      <div class="eventok show">
      </div>
    </div>



    <div class="card show">
      <h3 id="nb-dispo">Dispo - <%= @event.meetings.where.not(user_id: nil).count %>
        <%= @event.meetings.where.not(user_id: nil).count > 1 ? "personnes" : "personne" %>
    </h3>
      <% @event.meetings.where(attending: true, organizer: true).each do |meeting| %>
      <div class="card-participant">
        <% link = "avatars/avatar-0#{meeting.user.photo_number}.png" %>
        <%= image_tag link, class: "avatar-large dispo", alt: "avatar-large" %>
       <div class="card-participant-infos">
        <h2><%= meeting.user.name %></h2>
        <p>Dispo à <%= @event.start_time.strftime("%Hh%M") %></p>
        </div>
      </div>
      <% end %>
    </div>


    <div class="card show-invite">
      <% @event.meetings.where(attending: true, organizer: false).where.not(user_id: nil).each do |meeting| %>
        <div class="card-participant">
          <% link = "avatars/avatar-0#{meeting.user.photo_number}.png" %>
          <%= image_tag link, class: "avatar-large dispo", alt: "avatar-large" %>
         <div class="card-participant-infos">
          <h2><%= meeting.user.name %></h2>
          <p>Dispo <%= meeting.available_time %> </p>
          <% if meeting.available_time == "plus tôt" || meeting.available_time == "plus tard" %>
          <% else %>
          <% end  %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="eventok show">
      </div>


      <div class="card-bar">
        <div class="transparent-target" id="heart<%= @bar.id %>">
          <% if @bar.photo.attached? %>
            <div class="card-img-name"><%= cl_image_tag @bar.photo.key, alt: "alttext"%></div>
            <% else %>
            <div class="card-img-name"><%= image_tag "no-photo.png", alt: "alttext"%></div>
            <% end %>
          <div class="bar-ratings">
            <div class="event card-bar-ratings-price">
              <div>
                <% @bar.rating.times do %>
                  <i class="fa fa-star"></i>
                <% end %>
                <% (5 - @bar.rating).times do %>
                  <i class="far fa-star"></i>
                <% end %>
              </div>
              <div>
                <% if @bar.price_level %>
                  <% @bar.price_level.times do %>
                    <i class="fas fa-euro-sign"></i>
                  <% end %>
                  <% (5 - @bar.price_level).times do %>
                    <i class="fas fa-euro-sign cheap"></i>
                  <% end %>
                <% else %>
                  <% 3.times do %>
                    <i class="fas fa-euro-sign"></i>
                  <% end %>
                  <% 2.times do %>
                    <i class="fas fa-euro-sign cheap"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card-bar-infos">
            <h2><%= @bar.name %></h2>
            <h3><%= @bar.address %></h3>
          </div>
        </div>
      </div>

      <div class="eventok show-before-bar">
      </div>


  <div id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    class="map-container">
  </div>
</div>
  <div class= "btn-sticky citymapper">
    <%= link_to @city_mapper_url, class: "d-flex justify-content-center align-items-center goto" do %>
      <%= image_tag "route.svg", class: "goto-icon" %>
      <div class="goto-it">
        <p class="city-mapper-link">Itinéraire <strong>Citymapper</strong><%#=  @t.travel_time_minutes%> </p>
      </div>
    <% end %>
  </div>

</div>

<div class="container-link link-to-share d-none" data-message="C'est dans la boîte ! À ce soir.">
      <% link = "/events/" + @event.id.to_s %>
      <%= link %>
</div>





<!-- <div class="card-bar"> -->
  <!-- <div  class="bar-name"> -->
  <!-- <h1><%#= counter.to_s + ". " + bar.name %><h1> -->
            <%# counter += 1 %>
  <!-- </div> -->
  <!-- <div class="card-bar-infos"> -->
    <!-- <h2><%#= @bar.address %></h2> -->
            <!-- <div class="card-bar-ratings-price"> -->
              <!-- <div> -->
                <%# @bar.rating.times do %>
                  <!-- <i class="fa fa-star"></i> -->
                <%# end %>
              <!-- </div> -->
            <!-- </div> -->
          <!-- </div> -->
  <!-- </div>  -->













<!-- # <h1><%#= @event.name %> <small><%#= @restaurant.address %></small></h1>
# <h2>
#   <#%= pluralize @restaurant.reviews.size, "review" %>
# </h2>

# <div id="reviews">
#   <#% if @restaurant.reviews.blank? %>
#     Be the first to leave a review for <#%= @restaurant.name %>
#   <#% else %>
#     <#% @restaurant.reviews.each do |review| %>
#       <#%= render 'reviews/show', review: review %>
#     <#% end %>
#   <#% end %>
# </div> -->
