<% if current_user == @event.meetings.where(attending: true, organizer: true)[0].user %>
      <%= link_to "Partage le récap", event_path(@event), class: "btn-blue-wm share bouton-haut-last-action", data: { event: params[:event_id] } %>
  <% end %>
  <div class="container event-show">
    <div class="card">
      <% @event.meetings.where(attending: true, organizer: true).each do |meeting| %>
      <div class="card-participant">
        <% link = "avatars/avatar-0#{meeting.user.photo_number}.png" %>
        <%= image_tag link, class: "avatar-large dispo", alt: "avatar-large" %>
       <div class="card-participant-infos">
        <h2><%= meeting.user.name %></h2>
        <p>Dispo à <%= @event.start_time.strftime("%Hh%M") %></p>
        </div>
      </div>
      <% end %>
    </div>


    <div class="card-meeting-show">
      <% @event.meetings.where(attending: true, organizer: false).each do |meeting| %>
        <div class="card-participant">
          <% link = "avatars/avatar-0#{meeting.user.photo_number}.png" %>
          <%= image_tag link, class: "avatar-large dispo", alt: "avatar-large" %>
         <div class="card-participant-infos">
          <h2><%= meeting.user.name %></h2>
          <p>Dispo <%= meeting.available_time %> </p>
          <% if meeting.available_time == "plus tôt" || meeting.available_time == "plus tard" %>
          <% else %>
          <% end  %>
          </div>
        </div>
      <% end %>
    </div>


      <div class="card-bar">
        <div class="transparent-target" id="heart<%= @bar.id %>">
          <div class="card-img-name"><%= cl_image_tag @bar.photo.key, alt: "alttext"%></div>
          <div class="bar-ratings">
            <div class="event card-bar-ratings-price">
              <div>
                <% @bar.rating.times do %>
                  <i class="fa fa-star"></i>
                <% end %>
                <% (5 - @bar.rating).times do %>
                  <i class="far fa-star"></i>
                <% end %>
              </div>
              <div>
                <% 3.times do %>
                  <i class="fas fa-euro-sign"></i>
                <% end %>
                <% 2.times do %>
                  <i class="fas fa-euro-sign cheap"></i>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card-bar-infos">
            <h2><%= @bar.name %></h2>
            <h3><%= @bar.address %></h3>
          </div>
        </div>
      </div>
  </div>



  <div id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class= "btn-blue-wm">
    <%= link_to @city_mapper_url, class: "d-flex justify-content-center align-items-center goto" do %>
      <%= image_tag("route.svg", class: "goto-icon") %>
      <div class="goto-it">
        <p class="city-mapper-link">Itinéraire Citymapper :<%#=  @t.travel_time_minutes%> <strong>10</strong> minutes</p>
      </div>
    <% end %>
  </div>
</div>

<div class="container-link link-to-share d-none" data-message="C'est dans la boîte ! À ce soir.">
      <% link = "/events/" + @event.id.to_s %>
      <%= link %>
    </div>

    <div class="center-btn">


    </div>

<div class="last-action-calls">
  <%= link_to "Crée un autre événement", root_path, class: "btn-blue-wm share bouton-bas-last-action", data: { event: params[:event_id] } %>
</div>





<!-- <div class="card-bar"> -->
  <!-- <div  class="bar-name"> -->
  <!-- <h1><%#= counter.to_s + ". " + bar.name %><h1> -->
            <%# counter += 1 %>
  <!-- </div> -->
  <!-- <div class="card-bar-infos"> -->
    <!-- <h2><%#= @bar.address %></h2> -->
            <!-- <div class="card-bar-ratings-price"> -->
              <!-- <div> -->
                <%# @bar.rating.times do %>
                  <!-- <i class="fa fa-star"></i> -->
                <%# end %>
              <!-- </div> -->
            <!-- </div> -->
          <!-- </div> -->
  <!-- </div>  -->













<!-- # <h1><%#= @event.name %> <small><%#= @restaurant.address %></small></h1>
# <h2>
#   <#%= pluralize @restaurant.reviews.size, "review" %>
# </h2>

# <div id="reviews">
#   <#% if @restaurant.reviews.blank? %>
#     Be the first to leave a review for <#%= @restaurant.name %>
#   <#% else %>
#     <#% @restaurant.reviews.each do |review| %>
#       <#%= render 'reviews/show', review: review %>
#     <#% end %>
#   <#% end %>
# </div> -->
